@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1230px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    padding-left: auto;
}


.btn_header {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
    padding: 11px 19px;
    border: none;
    border-radius: 10px;
}


.rowsdata{
    grid-template-columns: repeat(4,1fr);
    display: grid
}